PORT=3000
NODE_ENV=development
JWT_SECRET=change-me-in-production
REFRESH_TOKEN_SECRET=change-me-refresh-in-production
# Doit correspondre aux variables du docker-compose (racine du projet)
DATABASE_URL=postgresql://cineconnect:cineconnect_pwd@localhost:5432/cineconnect_db
OMDB_API_KEY=omdb_api_key

# Reset password
PASSWORD_RESET_TOKEN_TTL_MINUTES=60
PASSWORD_RESET_URL_BASE=http://localhost:5173/reset-password

# Email provider: mailgun | gmail | ses | console
EMAIL_PROVIDER=mailgun

# Mailgun
MAILGUN_API_KEY=key-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAILGUN_DOMAIN=sandboxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.mailgun.org
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_FROM=Mailgun Sandbox <postmaster@sandboxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.mailgun.org>



# AWS SES
AWS_SES_REGION=
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_FROM_EMAIL=
